---
layout: base.njk
title: Library
---

{% set css %}
{% include "./_css/library.css" %}
{% endset %}

<div>
  <em>Books worth recommending — and the feeds and podcasts that keep me thinking.</em>
</div>

<script src="https://www.goodreads.com/review/custom_widget/6982955.Elegant%20Programming?cover_position=left&cover_size=small&num_books=5&order=a&shelf=programming-gems&show_author=1&show_cover=1&show_rating=0&show_review=0&show_tags=0&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1665415908&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>
<script src="https://www.goodreads.com/review/custom_widget/6982955.IT%20Pro%20Recommendations?cover_position=left&cover_size=small&num_books=5&order=a&shelf=it-pro-recommends&show_author=1&show_cover=1&show_rating=0&show_review=0&show_tags=0&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1665415910&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>
<script src="https://www.goodreads.com/review/custom_widget/6982955.Great%20Reads?cover_position=left&cover_size=small&num_books=5&order=a&shelf=great-reads&show_author=1&show_cover=1&show_rating=0&show_review=0&show_tags=0&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=&widget_border_width=1&widget_id=1665415913&widget_text_color=000000&widget_title_size=medium&widget_width=medium" type="text/javascript" charset="utf-8"></script>

{% renderTemplate "md" %}

> # Tech feed fire hose
> * [Slashdot](https://slashdot.org/)
> * [InfoQ Articles](https://www.infoq.com/articles/)
> * [AWS News Blog](https://aws.amazon.com/blogs/aws/)
> * [Microsoft Azure Blog](https://azure.microsoft.com/en-us/blog/)
> * [Netflix Tech Blog](https://netflixtechblog.com/)
> * [Towards Data Science](https://towardsdatascience.com/)
> * [FlowingData](https://flowingdata.com/)
> * [UX Movement](https://uxmovement.com/)
> * [Google The Keyword](https://blog.google/)

> # Pod/vidcast playlist
> * [This Week in Tech](https://twit.tv/shows/this-week-in-tech)
> * [Intelligent Machines](https://twit.tv/shows/intelligent-machines)
> * [3Blue1Brown](https://www.youtube.com/c/3blue1brown)
> * [Planet Money](https://www.npr.org/podcasts/510289/planet-money)
> * [Disrupt Yourself](https://thedisruptionadvisors.com/podcast/)
> * [Freakonomics Radio](https://freakonomics.com/podcasts/)

{% endrenderTemplate %}

<style>
  {{css | cssmin | safe}}
</style>