---
layout: base.njk
title: Mindmap
---

<style>
    iframe {
        padding: 0;
        border: 0;
        width: 100%;
        height: 98%;
    }
</style>
<iframe width='853' height='480' src='https://embed.coggle.it/diagram/Y0DeaOfA2wMrDjXZ/015070f3b16802e16d0ce1649360e89651b0ff277c7c2bfd9d52bd8d535b64c3' frameborder='0' allowfullscreen></iframe>