---
layout: base.njk
permalink: "post/{{ page.date | date: '%Y/%m/%d' }}/{{ title | slugify }}/index.html"
---

<article class="blog-post">
  <time datetime="{{ page.date | dateIso }}">{{ page.date | dateInternational }}</time>
  <h1>{{title}}</h1>
  <section>
    {{ content | safe }}
  </section>
</article>